#root {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

.App {
  position: relative;
  overflow: hidden;
  height: 100vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  cursor: crosshair;
  font-family: Arial, Helvetica, sans-serif;
}

.scoreContainerTop {
  display: flex;
  gap: 10px;
}

.missBox {
  font-size: 20pt;
}

.score,
.clickMode {
  height: 35px;
  font-size: 24px;
  color: black;
  border: solid 1px black;
  z-index: 100;
  padding: 5px 10px;
  background-color: white;
}

.mainMenuContainer {
  text-align: center;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainMenuContainer > h1 {
  font-size: 80pt;
  font-family: Arial, Helvetica, sans-serif;
}

.targetTitle {
  height: 70px;
}

.mainMenuBox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: solid 5px black;
  width: 300px;
  height: 500px;
  background-color: #00c0f4;
  padding: 15px 0 15px 0;
}

.mainMenuBTN {
  font: bold 30pt Arial;
  text-decoration: none;
  background-color: #eeeeee;
  color: black;
  border: solid 5px black;
  width: 250px;
  height: 15%;
  padding-top: 20px;
  text-align: center;
  line-height: 1.5; /* Adjust this value if necessary */
  cursor: pointer;
}

.mainMenuBTN:hover {
  background-color: lightgray;
}

.startButton {
  padding: 10px 20px;
  font-size: 60pt;
  z-index: 100;
  margin: 5px;
  cursor: pointer;
  border: solid 1px black;
  box-shadow: 15px 15px;
}

.startButton:hover {
  background-color: lightgray;
}

.centeredButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
}

.optionsPanel {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #00c0f4;
  border: solid 2px black;
  display: flex;
  flex-direction: column;
  padding: 10px;
  z-index: 100;
}

.bottomPanel {
  background-color: white;
}

.bottomPanel > p {
  margin: 5px;
}

.clickMode {
  background-color: lightgray;
}

.clickMode.handGun {
  background-color: lightgray;
}

.clickMode.machineGun {
  background-color: lightblue;
}

.clickMode.fire {
  background-color: orange;
}

.clickMode.bomb {
  background-color: darkred;
}

.scrollingImage {
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: 10;
}

.scrollingImage.leftToRight {
  left: -100px;
  animation: scrollLeftToRight 5s linear;
}

.scrollingImage.rightToLeft {
  right: -100px;
  animation: scrollRightToLeft 5s linear;
}

@keyframes scrollLeftToRight {
  from {
    left: -150px;
    top: var(--startY);
  }
  to {
    left: 150vw;
    top: var(--endY);
  }
}

@keyframes scrollRightToLeft {
  from {
    right: -150px;
    top: var(--startY);
  }
  to {
    right: 150vw;
    top: var (--endY);
  }
}

.hitFireText {
  position: absolute;
  top: -30px;
  left: 10px;
  font-size: 20px;
  color: red;
  animation: flashText 1s infinite;
}

@keyframes flashText {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.howToPlay {
  padding: 20px;
}

.backLinkBTN {
  background-color: #eeeeee;
  color: black;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 16px;
  border: solid 2px black;
}

.backLinkMainMenuBTN {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #eeeeee;
  color: black;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 16px;
  border: solid 2px black;
}

.title,
.subtitle {
  text-align: center;
  font-size: 50pt;
}

.instructionBox,
.scoringSystemBox {
  border: 2px solid black;
  margin: 20px auto;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.instructionBox {
  width: 30%;
}

.plusSign,
.equalSign {
  font-size: 3em;
  margin: 0 20px;
  font-weight: 900;
}

.instructionStep {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  font-size: 18pt;
}

.scoringSystemBox {
  width: 25%;
}

.scoringTable {
  width: 100%;
  border-collapse: collapse;
}

.scoringTable th,
.scoringTable td {
  padding: 5px;
  text-align: center;
  border-bottom: solid 1px black;
}

th {
  color: green;
  font-size: 24pt;
}

.scoringTable p {
  margin: 0;
  font-size: 10pt;
}

.scoreboardContainer {
  padding: 20px;
  text-align: center;
  position: relative;
}

.title {
  text-align: center;
  margin-bottom: 40px;
  font-size: 80pt;
  font-family: Arial, Helvetica, sans-serif;
}

.scoreboardBox {
  border: 5px solid black;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 25px;
  width: fit-content;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #00c0f4;
}

.topScoresTable {
  border-collapse: collapse;
  width: 100%;
  background-color: white;
  border: solid 5px black;
}

.topScoresTable th,
.topScoresTable td {
  border-bottom: 1px solid black;
  padding: 10px;
}

.topScoresTable th {
  text-align: center;
}

.leftAlign {
  text-align: left;
}

.rightAlign {
  text-align: right;
}

.backLinkBTN {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #eeeeee;
  color: black;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 16px;
  border: solid 2px black;
  cursor: pointer;
}

.backLinkBTN:hover {
  background-color: lightgray;
}

.deleteBTN {
  cursor: pointer;
}

.saveBTN {
  background-color: #eeeeee;
  color: black;
  padding: 10px 20px;
  font-size: 16px;
  border: solid 2px black;
  cursor: pointer;
}

.saveBTN:hover {
  background-color: lightgray;
}

.scoreNameInput {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  margin: -5px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.scoreboardForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scoreboardBox {
  padding: 20px;
}

.gameOverContainer {
  text-align: center;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameOverContainer > h1 {
  font-size: 80pt;
  font-family: Arial, Helvetica, sans-serif;
}

.gameOverBox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: solid 5px black;
  width: 250px;
  height: 300px;
  background-color: #00c0f4;
  padding: 15px 0;
}

.gameOverForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.scoreDisplay {
}

.scoreLabel,
.nameLabel {
  font-size: 20pt;
  display: block;
}

.scoreInput,
.nameInput {
  width: 80%;
  padding: 10px;
  font-size: 16pt;
  border: solid 2px black;
  border-radius: 5px;
  box-sizing: border-box;
}

.submitBTN {
  padding: 10px 20px;
  font-size: 16pt;
  background-color: #eeeeee;
  border: solid 2px black;
  cursor: pointer;
  width: 200px;
  margin-top: 20px;
}

.submitBTN:hover {
  background-color: lightgray;
}
