#root {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

.App {
  position: relative;
  overflow: hidden;
  height: 100vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  cursor: crosshair;
  font-family: Arial, Helvetica, sans-serif;
}

.scoreContainerTop{
  /* align-items: start; */
  /* display: inline; */
  display: flex;
  gap: 10px;
  /* margin-top: -15px; */
}

.missBox{
  font-size: 20pt;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}

.score,
.click-mode {
  height: 35px;
  font-size: 24px;
  color: black;
  border: solid 1px black;
  z-index: 100;
  padding: 5px 10px;
  background-color: white;
}


.mainMenuContainer {
  text-align: center;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainMenuContainer>h1 {
  font-size: 80pt;
  font-family: Arial, Helvetica, sans-serif;
}

.targetTitle {
  height: 70px;
}

.mainMenuBox {
  /* style={{ display: 'flex', flexDirection: 'column', gap: '10px', alignItems: 'center' }}> */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* gap: 20px; */
  align-items: center;
  border: solid 5px black;
  width: 300px;
  height: 500px;
  background-color: #00c0f4;
  padding: 15px 0 15px 0;
}

.mainMenuBtn {
  /* display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center; */
  font: bold 30pt Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: black;
  /* padding: 20px 60px 60px 60px; */
  border: solid 5px black;
  /* font-size: 30pt; */
  width: 250px;
  height: 15%;
  padding-top: 20px;
  cursor: pointer;
}

.mainMenuBtn:hover {
  background-color: lightgray;
}



.start-button {
  padding: 10px 20px;
  font-size: 60pt;
  z-index: 100;
  margin: 5px;
  cursor: pointer;
  border: solid 1px black;
  box-shadow: 15px 15px;
}

.start-button:hover {
  background-color: lightgray;
}


.centered-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200; /* Ensure it's above other elements */
}


.optionsPanel {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #00c0f4;
  border: solid 2px black;
  display: flex;
  flex-direction: column;
  padding: 10px;
  /* gap: 5px; */
  z-index: 100;
}
/* 
.topPanel {
  display: flex;
  gap: 5px;
} */

.bottomPanel {
  background-color: white;
  /* padding: 0 5px; */
  /* margin-top: 10px; */
}

.bottomPanel>p {
  margin: 5px;
}

.click-mode {
  background-color: lightgray;
}

.click-mode.hand-gun {
  background-color: lightgray;
}

.click-mode.machine-gun {
  background-color: lightblue;
}

.click-mode.fire {
  background-color: orange;
}

.click-mode.bomb {
  background-color: darkred;
}

.scrolling-image {
  position: absolute;
  width: 100px;
  height: 100px;
  z-index: 10;
}

.scrolling-image.left-to-right {
  left: -100px;
  animation: scrollLeftToRight 5s linear;
}

.scrolling-image.right-to-left {
  right: -100px;
  animation: scrollRightToLeft 5s linear;
}



@keyframes scrollLeftToRight {
  from {
    left: -150px;
    top: var(--startY);
  }

  to {
    left: 150vw;
    top: var(--endY);
  }
}

@keyframes scrollRightToLeft {
  from {
    right: -150px;
    top: var(--startY);
  }

  to {
    right: 150vw;
    top: var(--endY);
  }
}

.hit-fire-text {
  position: absolute;
  top: -30px;
  left: 10px;
  font-size: 20px;
  color: red;
  animation: flashText 1s infinite;
}

@keyframes flashText {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}






.how-to-play {
  padding: 20px;
}

.back-link {
  background-color: #EEEEEE;
  color: black;
  /* padding: 5px; */
  text-decoration: none;
  /* text-transform: uppercase; */
  padding: 10px 20px;
  font-size: 16px;
  /* z-index: 100; */
  /* margin: 5px; */
  border: solid 2px black;
}

.back-linkMainMenu {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #EEEEEE;
  color: black;
  /* padding: 5px; */
  text-decoration: none;
  /* text-transform: uppercase; */
  padding: 10px 20px;
  font-size: 16px;
  /* z-index: 100; */
  /* margin: 5px; */
  border: solid 2px black;
}

.title,
.subtitle {
  text-align: center;
  font-size: 50pt;
}

.instruction-box,
.scoring-system-box {
  border: 2px solid black;
  margin: 20px auto;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* gap: 15px; */
}

.instruction-box {
  width: 30%;
}

/* .example-image {
  width: 100px;
  height: 100px;
} */

.plus-sign,
.equal-sign {
  font-size: 3em;
  margin: 0 20px;
  font-weight: 900;
}

.instruction-step {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  font-size: 18pt;
}

.scoring-system-box {
  width: 25%;
}

.scoring-table {
  width: 100%;
  border-collapse: collapse;
}

.scoring-table th,
.scoring-table td {
  /* border: 1px solid black; */
  padding: 5px;
  text-align: center;
  border-bottom: solid 1px black;
}

th {
  color: green;
  font-size: 24pt;
}

.scoring-table p {
  margin: 0;
  font-size: 10pt;
}








.scoreboard-container {
  padding: 20px;
  text-align: center;
  position: relative;
}

.title {
  text-align: center;
  margin-bottom: 40px;
  font-size: 80pt;
  font-family: Arial, Helvetica, sans-serif;
}

.scoreboard-box {
  border: 5px solid black;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 25px;
  width: fit-content;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #00c0f4;
}

.topScoresTbl {
  border-collapse: collapse;
  width: 100%;
  background-color: white;
  border: solid 5px black;
  /* padding: 10px; */
}

.topScoresTbl th,
.topScoresTbl td {
  border-bottom: 1px solid black;
  padding: 10px;
}

.topScoresTbl th {
  text-align: center;
  /* font-size: 28pt;+ */
}

.left-align {
  text-align: left;
  /* width: 25%; */
}

.right-align {
  text-align: right;
}

.back-link {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #EEEEEE;
  color: black;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 16px;
  border: solid 2px black;
  cursor: pointer;
}

.back-link:hover {
  background-color: lightgray;
}


.deleteBtn {
  cursor: pointer;
}

.saveBtn {
  background-color: #EEEEEE;
  color: black;
  /* text-decoration: none; */
  padding: 10px 20px;
  font-size: 16px;
  border: solid 2px black;
  cursor: pointer;
}

.saveBtn:hover {
  background-color: lightgray;
}

.scoreNameInput {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.scoreboard-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scoreboard-box {
  padding: 20px;
}